<footer id="footer" class="mb-5">
    <hr>
    <div class="container text-center">
        Copyright &copy; 2015 - <span id="footerYear"></span> by J. Zhao.

        <script type="text/javascript">
            document.getElementById("footerYear").innerHTML = (new Date()).getFullYear();
        </script>
    </div>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?70d282bac75aff81babeeb598206f823";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</footer>
