<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{page-title}}</title>
    <meta name="author" content="{{author}}" />
    {{#description}}
        <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
        <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}

    <link rel="stylesheet" href="/media/css/bootstrap.min.css">

    <link rel="stylesheet" href="/media/css/main.css" />


</head>
