<header id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<h2>Links</h2>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a href="/article/">Article</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
