<h1><a href="/">{{site-main-title}}</a></h1>
<span class="subtit">{{site-sub-title}}</span>
<menu id="rightmenu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/publication/">Publication</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</menu>
