<header>
				<h2>Links</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/article/">Article</a></li>
        </ul>
</header>
